nav {
    box-sizing: border-box;
    background-color: #3587A4;
    overflow: auto;
    padding: 18px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header {
	margin-top: 80px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #555;
}
